html{
	height:100%;
}
body{
	height:100%;

}

article {
  height:5.5em;
  /*font-size:598px;*/
}





header{
	background-color: #1F273E;
    height:8em;
	color: #ffffff;
}

footer{
	
	background-color: #00ff00;
	/*height: 8em;*/
	height: 60px;
}

/* inndex-page*/
#container{
	min-height: 100%;
	margin-bottom: -60px;
}

#container:after{
	content:"";
	display:block;
	height: 60px;
}

.nutrition{
	background-color: #2C3349;
}

.diet-plan{
	background-color: #958FBC;
	
}
.calorie-chart{
	background-color: #D2847F;
}

.exercises{
	background-color: #9592A1;
}


/*nutrition page css*/

.nutrition-blog{
	height: 80%;
}

/*diet plan page css*/
.row-height{
  height:20em;
}